body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  height: 75vh;
  min-height: 480px;
  width: 70vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-content: center;
  overflow: hidden;
}

.display {
  margin-bottom: 20px;
}

.operation {
  height: 1.2em;
  font-size: 2em;
  color: #333;
  align-content: center;
  overflow-x:auto;
}

.result {
  height: 1.2em;
  font-size: 3em;
  color: #000;
  align-items: center;
  overflow-x:auto;

}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  height: 75%;;
}

button {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 500px) {
  .calculator {
    width: 90vw;
    height: 95vh;
  }
}